/* KAPLAN COLOR PALLET */
/* PRIMARY */
/* Light Purple */
/* Dark Purple */
/* SECONDARY */
.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper:before {
  content: '';
  display: table;
}
.wrapper:after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 890px) {
.wrapper {
    padding-left: 15px;
    padding-right: 15px
}
  }
html, body {
  direction:ltr;
  font-family: 'Open Sans', sans-serif/*rtl:'Droid Arabic Kufi', sans-serif*/;
  color: #404040;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #007DB3;
}
.content {
  margin-top:0;
}
ul li::before {
  content:none !important;
}
.breadcrumb-container, .title-container {
  display: none;
}
#wrapper {
  max-width: 100%;
  padding:0;
  margin:0;
}
#content .region-content {
  width: 100% !important;
}
.fullwidth { 
  width: 100vw;
  position: relative;
  left: -o-calc(-50vw + 50%);
  left: calc(-50vw + 50%);
}
.fullwidth:before {
    content: " ";
    display: table;
  }
.fullwidth:after {
    content: " ";
    display: table;
    clear: both;
  }
.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.node-hub .field-collection-container .field-collection-view {
  padding: 0;
}
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Prompt:300,400,600,700,800&subset=thai');
@import url('https:////fonts.googleapis.com/earlyaccess/notokufiarabic.css');

body .node * {
	font-family: 'Open Sans',sans-serif;
}

:lang(ar) body,
:lang(ar-SA) body,
:lang(ar) body .node *,
:lang(ar-SA) body .node * {
  font-family: 'Open Sans', 'Noto Kufi Arabic', sans-serif;
}

:lang(cn) body,
:lang(zh) body,
:lang(cn) body .node *,
:lang(zh) body .node *,
:lang(zh-CN) body .node *,
:lang(zh-hans) body .node *,
:lang(zh-hans-CN) body .node * {
  font-family: 'Open Sans', 'Microsoft YaHei', 'SimHei', Sans-serif;
}

:lang(tw) body,
:lang(hk) body,
:lang(tw) body .node *,
:lang(hk) body .node *,
:lang(zh-HK) body .node *,
:lang(zh-TW) body .node *,
:lang(zh-hant) body .node *,
:lang(zh-hant-HK) body .node *,
:lang(zh-hant-TW) body .node * {
  font-family: 'Open Sans', 'Microsoft JhengHei', 'SimHei', Sans-serif;
}

:lang(ko) body,
:lang(ko) body .node *,
:lang(ko-KR) body .node * {
  font-family: 'Open Sans', 'Malgun Gothic', Sans-serif;
}

:lang(jp) body,
:lang(jp) body .node *,
:lang(jp-JP) body .node * {
  font-family: 'Open Sans', 'Meiryo', Sans-serif;
}

:lang(th) body,
:lang(th) body .node *,
:lang(th-TH) body .node * {
  font-family: 'Open Sans', 'Prompt', Sans-serif;
} */
@media (min-width: 768px) {
		body[dir=rtl] .col-sm-push-6 {
			right: auto;
		}
		body[dir=rtl] .col-sm-pull-6 {
			left: auto;
		}
  }
/* Do not edit modules/_sprite directly as it is generated automatically by Gulp.
Instead edit gulp/templates/sprite */
.sprite-icon {
  background-image: url('//assetlibs.kaplaninternational.com/_assets/summer2018/images/sprites/sprite-baa47697.svg')/*rtl:ignore*/;
}
.no-svg .sprite-icon {
  background-image: url('//assetlibs.kaplaninternational.com/_assets/summer2018/images/sprites/sprite-baa47697.png')/*rtl:ignore*/;

}
.icon--accommodation {
  width: 34px;
  height: 34px;
  background-position: 88.78116343490305% 82.26600985221675%/*rtl:ignore*/;
}
.icon--booking {
  width: 17px;
  height: 17px;
  background-position: 84.03247631935048% 71.39479905437352%/*rtl:ignore*/;
}
.icon--check {
  width: 16px;
  height: 14px;
  background-position: 88.51351351351352% 70.89201877934272%/*rtl:ignore*/;
}
.icon--circle1 {
  width: 252px;
  height: 302px;
  background-position: 100% 0/*rtl:ignore*/;
}
.icon--circle2 {
  width: 252px;
  height: 302px;
  background-position: 0 0/*rtl:ignore*/;
}
.icon--circle3 {
  width: 252px;
  height: 302px;
  background-position: 50% 0/*rtl:ignore*/;
}
.icon--courses {
  width: 34px;
  height: 34px;
  background-position: 79.3628808864266% 82.26600985221675%/*rtl:ignore*/;
}
.icon--current-students {
  width: 72px;
  height: 72px;
  background-position: 21.05263157894737% 90.76086956521739%/*rtl:ignore*/;
}
.icon--date {
  width: 17px;
  height: 16px;
  background-position: 86.33288227334235% 71.22641509433963%/*rtl:ignore*/;
}
.icon--faq {
  width: 34px;
  height: 34px;
  background-position: 93.49030470914127% 82.26600985221675%/*rtl:ignore*/;
}
.icon--higher-education {
  width: 34px;
  height: 34px;
  background-position: 0 100%/*rtl:ignore*/;
}
.icon--k-clubs {
  width: 83px;
  height: 24px;
  background-position: 39.9702823179792% 72.59615384615384%/*rtl:ignore*/;
}
.icon--k-extra {
  width: 82px;
  height: 24px;
  background-position: 52.225519287833826% 72.59615384615384%/*rtl:ignore*/;
}
.icon--k-notes {
  width: 85px;
  height: 24px;
  background-position: 27.421758569299552% 72.59615384615384%/*rtl:ignore*/;
}
.icon--k-tools {
  width: 82px;
  height: 24px;
  background-position: 64.39169139465875% 72.59615384615384%/*rtl:ignore*/;
}
.icon--kaplan-logo {
  width: 184px;
  height: 32px;
  background-position: 0 74.01960784313725%/*rtl:ignore*/;
}
.icon--ki-80-years {
  width: 72px;
  height: 72px;
  background-position: 10.526315789473685% 90.76086956521739%/*rtl:ignore*/;
}
.icon--ki-80-years-white {
  width: 72px;
  height: 72px;
  background-position: 31.57894736842105% 90.76086956521739%/*rtl:ignore*/;
}
.icon--kie-highly-recommended {
  width: 72px;
  height: 72px;
  background-position: 42.10526315789474% 90.76086956521739%/*rtl:ignore*/;
}
.icon--kie-world-schools {
  width: 72px;
  height: 72px;
  background-position: 52.63157894736842% 90.76086956521739%/*rtl:ignore*/;
}
.icon--kie-world-students {
  width: 72px;
  height: 72px;
  background-position: 63.1578947368421% 90.76086956521739%/*rtl:ignore*/;
}
.icon--left-arrow {
  width: 22px;
  height: 22px;
  background-position: 79.29155313351498% 72.2488038277512%/*rtl:ignore*/;
}
.icon--location {
  width: 17px;
  height: 17px;
  background-position: 81.7320703653586% 71.39479905437352%/*rtl:ignore*/;
}
.icon--mail {
  width: 22px;
  height: 22px;
  background-position: 70.29972752043597% 72.2488038277512%/*rtl:ignore*/;
}
.icon--pathways {
  width: 34px;
  height: 34px;
  background-position: 4.7091412742382275% 100%/*rtl:ignore*/;
}
.icon--person {
  width: 35px;
  height: 42px;
  background-position: 69.90291262135922% 83.91959798994975%/*rtl:ignore*/;
}
.icon--phone {
  width: 22px;
  height: 22px;
  background-position: 73.29700272479565% 72.2488038277512%/*rtl:ignore*/;
}
.icon--right-arrow {
  width: 22px;
  height: 22px;
  background-position: 76.29427792915531% 72.2488038277512%/*rtl:ignore*/;
}
.icon--scholl {
  width: 34px;
  height: 34px;
  background-position: 98.1994459833795% 82.26600985221675%/*rtl:ignore*/;
}
.icon--school {
  width: 34px;
  height: 34px;
  background-position: 74.65373961218836% 82.26600985221675%/*rtl:ignore*/;
}
.icon--study-with-us {
  width: 72px;
  height: 72px;
  background-position: 0 90.76086956521739%/*rtl:ignore*/;
}
.icon--travel {
  width: 34px;
  height: 34px;
  background-position: 84.07202216066482% 82.26600985221675%/*rtl:ignore*/;
}
.icon--visa {
  width: 34px;
  height: 34px;
  background-position: 9.418282548476455% 100%/*rtl:ignore*/;
}
.page-section {
  padding: 30px 0;
}
@media (min-width: 768px) {
.page-section {
  	padding: 4% 0
}
  }
@media (min-width: 890px) {
.page-section {
  	padding: 4% 0
}
  }
@media (min-width: 1170px) {
.page-section {
  	padding: 4% 0
}
  }
.page-section .gap-badge {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto 0.5em;
    overflow: hidden;
  }
.how-we-teach {
  width: 100%;
  background-color: #EEEEEE;
  min-height: 400px;

}
.how-we-teach__inner {
    padding-top: 20px;
  }
.how-we-teach__inner p {
      font-size: 13px;
      text-align: center;
    }
.how-we-teach__chart {
    position: relative;
    width: 100%;
    /*padding-top: 20px;*/
    border-bottom: none;

  }
.how-we-teach__chart .graph {
      display: none;
    }
@media (min-width: 890px) {
.how-we-teach__chart .graph {
        display: block
    }
        .how-we-teach__chart .graph [class^=col-] {
          height: 150px;
          border-bottom: 4px solid #AAAAAA;
        }
  }
.how-we-teach__chart .desc {
      clear: both;
    }
.how-we-teach__chart .desc [class^=col-] {
        padding-bottom: 10px;
      }
@media (min-width: 768px) {
.how-we-teach__chart .desc [class^=col-] {
          padding-bottom: 30px
      }
  }
@media (min-width: 890px) {
.how-we-teach__chart .desc [class^=col-] {
          padding-bottom: 0
      }
  }
@media (min-width: 768px) {
.how-we-teach__chart .desc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch
    }
  }
.how-we-teach__chart ._icon {
      background-image: url(//assetlibs.kaplaninternational.com/_assets/about-us/images/sprites/sprite-baa47697.svg);
    }
.how-we-teach__chart ._icon--person {
      display: none;
      position: absolute;
      left: 50%;
      margin-left: -60px;
      bottom: 20px;
      width: 35px;
      height: 42px;
      background-position: 69.90291262135922% 83.91959798994975%/*rtl:ignore*/;
    }
@media (min-width: 768px) {
.how-we-teach__chart ._icon--person {

        display: block
    }
  }
body.language-dir-rtl .how-we-teach__chart ._icon--person {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
.chart {
  display: none;
  position: absolute;
  bottom: 0;
  width:80px;
  height: 140px;
  left: 50%;
  margin-left: -40px;


  background: rgba(9,93,133,1);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(9,93,133,1)), color-stop(100%, rgba(0,125,179,1)));
  background: linear-gradient(45deg, rgba(9,93,133,1) 0%, rgba(0,125,179,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#095d85', endColorstr='#007db3', GradientType=1 );


}
@media (min-width: 768px) {
.chart {

    display: block


}
  }
.chart--chart1 {
    height: 20px;
  }
.chart--chart2 {
    height: 40px;
  }
.chart--chart3 {
    height: 60px;
  }
.chart--chart4 {
    height: 80px;
  }
.chart--chart5 {
    height: 100px;
  }
.chart--chart6 {
    height: 120px;
  }
.chart-desc {
  height: 100%;
  text-align: center;
  background-color: #FFFFFF;
  padding: 5px;
  overflow: hidden;


}
@media (min-width: 890px) {
.chart-desc {
    background-color: transparent;
    padding: 0


}
  }
.chart-desc__title {
    font-size: 14px;
    color: #240F6E;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 15px;
  }
@media (min-width: 890px) {
.chart-desc__title {
      font-size: 16px
  }
  }
@media (min-width: 1170px) {
.chart-desc__title {
      font-size: 18px
  }
  }
.chart-desc__sub-title {
    font-size: 14px;
    color: #240F6E;
    margin-top: 5px;


  }
.chart-desc__description {
    font-size: 13px;
    color: #606060;

  }
.collapsed-wrapper {
  display: none;
}
@media (min-width: 890px) {
.collapsed-wrapper {
    display: block
}
  }
.guaranteed-progress {
  margin-top: 3%;
  padding: 20px;
  background-color: #e9e7f0;
  border: 1px solid rgba(36, 15, 110, 0.1);
  border-bottom: 5px solid rgba(36, 15, 110, 0.1);
}
.guaranteed-progress img {
    width: 70px;
    height: 70px;
    float: left;
    overflow: hidden;
    margin: 0 15px 8px 0;
  }
.guaranteed-progress h4 {
    font-size: 14px;
    color: #303030;
    font-weight: 700;
    margin: 0 0 6px 0;
  }
.guaranteed-progress .desc {
    font-size: 13px;
    color: #303030;
  }
.guaranteed-progress .desc a {
      text-decoration: underline;
    }
@media (min-width: 890px) {
.guaranteed-progress {
    padding: 2%
}
    .guaranteed-progress h4 {
      font-size: 18px;
    }
    .guaranteed-progress img {
      width: 86px;
      height: 86px;
    }
    .guaranteed-progress .desc {
      font-size: 14px;
    }
  }
.progress-tab {
  position: relative;
  width: 100%;
  float: left;
}
.collapse-inner {
  width: 100%;
  float: left;
  padding-top: 6px;
}
.progress-desc {
  text-align: center;
  border-top: 1px solid rgba(128, 128, 128, 0.37);

}
.progress-desc__title {
    font-size: 13px;
    font-weight: 700;
    color: #404040;
    margin: 12px 0 6px 0;
    text-transform: uppercase;
  }
.progress-desc__sub-title {
    font-size: 14px;
    color: #404040;
    margin-top: 5px;
  }
.progress-desc__description {
    font-size: 12px;
    color: #404040;
  }
.node-hub .page-section .section-title {
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      color: #202020;
      text-align: center;
      margin: 0.25em 0 1em 0;

    }
@media (min-width: 768px) {
.node-hub .page-section .section-title {
        font-size: 24px

    }
  }
@media (min-width: 890px) {
.node-hub .page-section .section-title {
        font-size: 28px

    }
  }
@media (min-width: 1170px) {
.node-hub .page-section .section-title {
        font-size: 32px

    }
  }
.node-hub .page-section .section-title--white {
        color: white;
      }
.node-hub .page-section .section-title--left {
        text-align: center;

      }
@media (min-width: 768px) {
.node-hub .page-section .section-title--left {
          text-align: left

      }
  }
.node-hub .page-section .section-title--right {
        text-align: right;
      }
.node-hub .page-section .section-title--lowercase {
        text-transform: capitalize;
      }
.node-hub .page-section .section-title--small {
        font-size: 24px;
      }
.node-hub .page-section .section-title--smaller {
        font-size: 18px;
        text-align: center;
        line-height: normal;
        overflow: hidden;

      }
@media (min-width: 890px) {
  }
.node-hub .page-section .section-title--smaller span {
          display: inline-block;
          position: relative;

        }
.node-hub .page-section .section-title--smaller span:before {
            content: none;
          }
.node-hub .page-section .section-title--smaller span:after {
            content: none;
          }
@media (min-width: 768px) {
            .node-hub .page-section .section-title--smaller span:before {
              content: "";
              position: absolute;
              height: 5px;
              border-bottom: 1px solid #AAAAAA;
              top: 8px;
              width: 400px;
            }

            .node-hub .page-section .section-title--smaller span:after {
              content: "";
              position: absolute;
              height: 5px;
              border-bottom: 1px solid #AAAAAA;
              top: 8px;
              width: 400px;
            }

            .node-hub .page-section .section-title--smaller span:before {
              right: 100%;
              margin-right: 15px;
            }

            .node-hub .page-section .section-title--smaller span:after {
              left: 100%;
              margin-left: 15px;
            }
  }
.node-hub .page-section h3.section-subtitle {
      font-size: 14px;
      line-height: 1.42857143;
      font-weight: normal;
      text-transform: uppercase;
      text-align: center;
      margin: 0;

    }
@media (min-width: 768px) {
.node-hub .page-section h3.section-subtitle {
        font-size: 18px

    }
  }
.node-hub .page-section h3.section-subtitle--white {
        color: white;
      }
.node-hub .page-section h3.section-subtitle--left {
        text-align: center;

      }
@media (min-width: 890px) {
.node-hub .page-section h3.section-subtitle--left {
          text-align: left

      }
  }
.node-hub .page-section h3.section-subtitle--right {
        text-align: right;
      }
.node-hub .page-section h3.section-subtitle--lowercase {
        text-transform: none;
      }
.node-hub .page-section h3.section-subtitle--small {
        font-size: 16px;
      }
.node-hub .page-section .section-subheading {
      font-size: 16px;
      font-weight: 600;
      color: #202020;
      text-align: center;
      margin: 0.25em 0 1em 0;
    }
@media (min-width: 768px) {
.node-hub .page-section .section-subheading {
        font-size: 18px
    }
  }
@media (min-width: 890px) {
.node-hub .page-section .section-subheading {
        font-size: 20px
    }
  }
.flexbox .equal-height {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

}
.flexbox .equal-height > div {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

  }
.no-flexbox .circle-percent.equal-height {
  padding: 30px 18px;

}
._btn {
  max-width: 200px;
  display: block;
  padding: 10px 10px;
  margin: 10px auto 10px auto;
  text-decoration: none !important;
  border: 1px solid #ffffff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  cursor: pointer;
  border-radius:0;
  line-height: 1;

}
._btn span {
    font-size: 14px;
    display: block;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
._btn:hover {
    background-color: #007db3;
    border: 1px solid  #007db3;


  }
._btn:hover span {
      color: white;
    }
._btn--mtop {
    margin-top: 26px;
  }
._btn--collapse {
    position: relative;
    background-color: #007DB3;
    border: 1px solid #007DB3;
    border-radius: 30px;
    padding: 10px 20px !important;
    color: white;
    outline: none;
    z-index: 10;

  }
._btn--collapse:before {
      position: absolute;
      top: 5px;
      left: 20px;
      content: "–";
      display: inline-block;
      color: white;
      font-size: 24px;
      font-weight: 700;
      line-height: 1em;

    }
._btn._main-cta-ani {
    position: relative;
    z-index: 1;
    font-size: 14px !important;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.1;
    padding: 1.2em 1em;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    min-width: 260px;
    overflow: hidden;
    white-space: nowrap;
    background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(transparent), color-stop(#007DB3), color-stop(transparent), to(transparent));
    background: linear-gradient(270deg, transparent, transparent, #007DB3, transparent, transparent);
    background-size: 800% 800%;
    -webkit-animation: MainCTAAni 5s ease infinite;
    animation: MainCTAAni 5s ease infinite;
  }
._btn._main-cta-ani:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #007DB3;
      -webkit-transition: width .5s;
      transition: width .5s;
    }
@media (min-width: 890px) {
._btn._main-cta-ani {
      padding: 1.5em 1em
  }

      ._btn._main-cta-ani:hover {
        border-color: #007DB3;
      }
        ._btn._main-cta-ani:hover:before {
          width: 100%;
        }
  }
@media (min-width: 768px) {
._btn {
    padding: 10px 15px;
    max-width: 200px

}
  }
@media (min-width: 890px) {
._btn {
    padding: 15px 20px;
    max-width: 240px

}
  }
@media (min-width: 1170px) {
._btn {
    padding: 15px 20px

}
  }
/* Gradient Animation */
@-webkit-keyframes MainCTAAni {
  0%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes MainCTAAni { 
  0%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.collapsed-wrapper {
  display: none;

}
@media (min-width: 768px) {
.collapsed-wrapper {
    display: block;
    width:100%;
    position:relative;
    margin: 0 auto

}

    .collapsed-wrapper::after {
      width: 100%;
      content: "";
      position: absolute;
      left: 0;
      top: 16px;
      border-bottom: 1px solid #CCCCCC;
    }
  }
.collapsed:before {
    content: "+";
    
    padding-right: 3px;
    vertical-align: middle;
    color: white;
    float: left;
    

  }
._btn-db {
  width: 100%;
  max-width: 250px;
  display: block;
  padding: 0.75em;
  margin: 0 auto;
  background: transparent;
  color: #FFC82E;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  font-weight:700;

}
._btn-db:hover {
    color: white;
  }
.reveal-item {
  opacity: 0;
  -webkit-transition: all .9s ease-out;
  transition: all .9s ease-out;
}
.reveal-item--is-visible {
    opacity: 1;
  }
.reveal-chart {
  opacity: 0;
  -webkit-transition: all .9s ease-out;
  transition: all .9s ease-out;
  -webkit-transform: scaleY(.0);
          transform: scaleY(.0);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.reveal-chart--is-visible {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1)
  }
.node-hub .large-hero {
    position: relative;
    background: url('//assetlibs.kaplaninternational.com/_assets/about-guaranteed-progress/images/large-hero-small.jpg') top center no-repeat;
    background-size: cover;
    background-color: #275db7;
    width: 100%;
    min-height: 420px;
  }
@media (min-width: 768px) {
.node-hub .large-hero {
      background: url('//assetlibs.kaplaninternational.com/_assets/about-guaranteed-progress/images/large-hero.jpg') top center no-repeat;
      background-size: cover;
      min-height: 420px
  }
  }
@media (min-width: 890px) {
.node-hub .large-hero {
      min-height: 420px
  }
  }
@media (min-width: 1170px) {
.node-hub .large-hero {
      min-height: 420px
  }
  }
.node-hub .large-hero__content {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 8%;
      padding-bottom: 8%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 15, 110, 0)), color-stop(1%, rgba(36, 15, 110, 0)), color-stop(60%, rgba(36, 15, 110, 0.5)), to(rgba(36, 15, 110, 0.5)));
      background: linear-gradient(to bottom, rgba(36, 15, 110, 0) 0%, rgba(36, 15, 110, 0) 1%, rgba(36, 15, 110, 0.5) 60%, rgba(36, 15, 110, 0.5) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00240f6e', endColorstr='#80240f6e', GradientType=0);
    }
@media (min-width: 768px) {
.node-hub .large-hero__content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        background: none;
        padding-bottom: 0;
        bottom: auto;
        padding-top: 0
    }
  }
.node-hub .large-hero__content h1.page-title {
        font-size: 28px;
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        margin: 0 auto 10px auto;
        text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);

      }
@media (min-width: 768px) {
.node-hub .large-hero__content h1.page-title {
          font-size: 38px

      }
  }
@media (min-width: 890px) {
.node-hub .large-hero__content h1.page-title {
          font-size: 42px

      }
  }
@media (min-width: 1170px) {
.node-hub .large-hero__content h1.page-title {
          font-size: 48px

      }
  }
.node-hub .large-hero__content h3.page-subtitle {
        font-size: 16px;
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.25em;
        font-weight: 600;
        margin: 0 auto 10px auto;
        text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);

      }
@media (min-width: 768px) {
.node-hub .large-hero__content h3.page-subtitle {
          font-size: 20px

      }
  }
@media (min-width: 890px) {
.node-hub .large-hero__content h3.page-subtitle {
          font-size: 20px

      }
  }
@media (min-width: 1170px) {
.node-hub .large-hero__content h3.page-subtitle {
          font-size: 24px;
          padding-bottom: 20px

      }
  }
.node-hub .large-hero__content p {
        font-size: 14px;
        color: white;
        text-align: center;
        text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);
        margin-bottom: 1.5em;
        font-weight: 700;

      }
@media (min-width: 768px) {
.node-hub .large-hero__content p {
          font-size: 13px

      }
  }
@media (min-width: 890px) {
.node-hub .large-hero__content p {
          font-size: 16px

      }
  }
@media (min-width: 1170px) {
.node-hub .large-hero__content p {
          font-size: 18px

      }
  }
@media (min-width: 768px) {
.node-hub .large-hero__content h1,
      .node-hub .large-hero__content h3,
      .node-hub .large-hero__content p {
          max-width: 768px;
          margin-left: auto;
          margin-right: auto

      }
  }
@media (min-width: 890px) {
.node-hub .large-hero__content h1,
      .node-hub .large-hero__content h3,
      .node-hub .large-hero__content p {
          max-width: 992px

      }
  }
@media (min-width: 1170px) {
.node-hub .large-hero__content h1,
      .node-hub .large-hero__content h3,
      .node-hub .large-hero__content p {
          max-width: 1170px

      }
  }
.node-hub .why-you-should-learn-english__p {
      font-size: 14px;
      text-align: center;
      max-width: 860px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.5em;
    }
.node-hub .why-you-should-learn-english__p strong {
        font-weight: 600;
        color: #503F8B;
        -webkit-font-smoothing: antialiased;
      }
@media (min-width: 768px) {
.node-hub .why-you-should-learn-english__p {
        font-size: 16px
    }
  }
.node-hub .why-you-should-learn-english__p .btn.anchor {
        text-transform: none;
        background-color: #00A4D9;
        padding: 14px 20px;
      }
.node-hub .why-you-should-learn-english__p .btn.anchor:hover {
          background-color: #240F6E;
        }
.node-hub .why-you-should-learn-english__p .btn.anchor span {
          font-weight: 700;
          font-size: 14px;
        }
.node-hub .why-you-should-learn-english__p--bold {
     font-weight: 700;
      padding-top: 20px;

    }
.node-hub .why-you-should-learn-english__content-box {
      float: left;
      width: 100%;
      padding: 20px 0;

    }
@media (min-width: 768px) {
.node-hub .why-you-should-learn-english__content-box {
        padding: 50px 0

    }
  }
.node-hub .why-you-should-learn-english__content-box h1 {
        padding-bottom: 15px;
        margin-top: 20px;

      }
@media (min-width: 768px) {
.node-hub .why-you-should-learn-english__content-box h1 {
          margin-top: 0

      }
  }
@media (min-width: 890px) {
.node-hub .why-you-should-learn-english__content-box h1 {
          margin-top: 0

      }
  }
.node-hub .why-you-should-learn-english__content-box img {
        width: 100%;

      }
.node-hub .why-you-should-learn-english__content-box p {
        text-align: center;
      }
@media (min-width: 768px) {
.node-hub .why-you-should-learn-english__content-box p {
          text-align: left
      }
  }
.node-hub .why-you-should-learn-english__content-box ul {
        list-style: disc;
        padding-left: 20px;
      }
.node-hub .why-you-should-learn-english__content-box ul li {
          padding: 3px 0;
        }
.node-hub .why-you-should-learn-english__content-box--border-top {
      border-top: 1px solid rgba(0,0,0,0.2);

    }
.node-hub .why-you-should-learn-english__content-box--margin-top {
      margin-top: 20px;

    }
@media (min-width: 768px) {
.node-hub .why-you-should-learn-english__content-box--margin-top {
        margin-top: 50px

    }
  }
.node-hub .why-you-should-learn-english hr {
      border: none;
      width: 80px;
      height: 3px;
      margin: 30px auto;
      background: #503F8B;
    }
.node-hub .why-you-should-learn-english .section-body .items {
        margin-top: 1em;
        margin-bottom: 1em;
      }
.node-hub .why-you-should-learn-english .section-body .items p {
          font-size: 16px;
          text-align: center;
          font-weight: 600;
        }
.node-hub .why-you-should-learn-english .section-body .items .item {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          min-height: 96px;
          border: 4px solid #00A4D9;
          /*align-items: center;*/
          text-decoration: none;
          margin: 5px 15px;
        }
@media (min-width: 768px) {
.node-hub .why-you-should-learn-english .section-body .items .item {
            margin: 10px 0
        }
  }
.node-hub .why-you-should-learn-english .section-body .items .item:after {
            content: "";
            background-image: url('//assetlibs.kaplaninternational.com/_assets/about-guaranteed-progress/images/gap-badge-en.svg');
            position: absolute;
            bottom: 6px;
            right: 6px;
            width: 48px;
            height: 48px;
            border: 1px solid #240F6E;
            border-radius: 50%;
            background-color: #FFF;
            z-index: 1;
          }
.node-hub .why-you-should-learn-english .section-body .items .item:hover {
            background: #00A4D9;
            color: #FFFFFF;
          }
.node-hub .why-you-should-learn-english .section-body .items .item:hover:after {
            -webkit-transform: scale(1.25);
                    transform: scale(1.25);
          }
@media (min-width: 768px) {
.node-hub .why-you-should-learn-english .section-body .items .item {
            min-height: 140px
        }
  }
@media (min-width: 890px) {
.node-hub .why-you-should-learn-english .section-body .items .item {
            min-height: 132px
        }
  }
@media (min-width: 1170px) {
.node-hub .why-you-should-learn-english .section-body .items .item {
            min-height: 120px
        }
  }
.node-hub .why-you-should-learn-english .section-body .items .item .item-inner {
            line-height: 1.25;
            width: 100%;
            height: 100%;
            text-align: left;
            padding: 15px;
            font-weight: 600;
            font-size: 14px;
          }
@media (min-width: 1170px) {
.node-hub .why-you-should-learn-english .section-body .items .item .item-inner {
              font-size: 15px;
              padding: 20px
          }
  }
.node-hub .why-you-should-learn-english .section-body .items .item .more {
            display: inline-block;
            position: absolute;
            font-size: 13px;
            left: 15px;
            bottom: 10px;
          }
@media (min-width: 1170px) {
.node-hub .why-you-should-learn-english .section-body .items .item .more {
              left: 20px
          }
  }
.node-hub .why-you-should-learn-english .section-body p {
        max-width: 960px;
        margin: 1.5em auto;
      }
/* GAP BADGE TRANSLATION */
:lang(de) .node-hub .why-you-should-learn-english .section-body .items .item:after {
  background-image: url('//assetlibs.kaplaninternational.com/_assets/about-guaranteed-progress/images/gap-badge-de.svg');
}
:lang(es) .node-hub .why-you-should-learn-english .section-body .items .item:after {
  background-image: url('//assetlibs.kaplaninternational.com/_assets/about-guaranteed-progress/images/gap-badge-es.svg');
}
:lang(fr) .node-hub .why-you-should-learn-english .section-body .items .item:after {
  background-image: url('//assetlibs.kaplaninternational.com/_assets/about-guaranteed-progress/images/gap-badge-fr.svg');
}
:lang(it) .node-hub .why-you-should-learn-english .section-body .items .item:after {
  background-image: url('//assetlibs.kaplaninternational.com/_assets/about-guaranteed-progress/images/gap-badge-it.svg');
}
:lang(ru) .node-hub .why-you-should-learn-english .section-body .items .item:after {
  background-image: url('//assetlibs.kaplaninternational.com/_assets/about-guaranteed-progress/images/gap-badge-ru.svg');
}
:lang(tr) .node-hub .why-you-should-learn-english .section-body .items .item:after {
  background-image: url('//assetlibs.kaplaninternational.com/_assets/about-guaranteed-progress/images/gap-badge-tr.svg');
}
:lang(pt) .node-hub .why-you-should-learn-english .section-body .items .item:after {
  background-image: url('//assetlibs.kaplaninternational.com/_assets/about-guaranteed-progress/images/gap-badge-pt.svg');
}
.node-hub .contact-us {
    background: rgb(124, 111, 168);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(124, 111, 168, 1)), to(rgba(36, 15, 110, 1)));
    background: linear-gradient(to bottom, rgba(124, 111, 168, 1) 0%, rgba(36, 15, 110, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c6fa8', endColorstr='#240f6e', GradientType=0);
  }
.node-hub .contact-us h3.section-subtitle {
      margin: 20px auto;
    }
.node-hub .contact-us ._btn {
      margin-top: 6px;
      margin-bottom: 6px;

    }
.node-hub .contact-us ._btn._main-cta-ani {
        background-color: #007DB3;
        border: 1px solid transparent;
        background: -webkit-gradient(linear, right top, left top, from(#007DB3), color-stop(#007DB3), color-stop(#00E4FF), color-stop(#007DB3), to(#007DB3));
        background: linear-gradient(270deg, #007DB3, #007DB3, #00E4FF, #007DB3, #007DB3);
        background-size: 600% 600%;
        -webkit-animation: MainCTAAni 5s ease infinite;
        animation: MainCTAAni 5s ease infinite;
        min-width: unset;
        max-width: 290px;

      }
.node-hub .contact-us ._btn._main-cta-ani:before {
          background: #FFFFFF;
          width: 0;
          -webkit-transition: width .3s;
          transition: width .3s;
        }
.node-hub .contact-us ._btn:hover {
        border: 1px solid #FFFFFF !important;
        text-decoration: none;

      }
.node-hub .contact-us ._btn:hover:before {
          width: 100%;
        }
.node-hub .contact-us ._btn:hover span {
          color: #007DB3;
        }
.node-hub .contact-us ._btn-db {
        position: relative;
        z-index: 1;
        border: 1px solid transparent;
        min-width: unset;
        max-width: 290px;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;

      }
.node-hub .contact-us ._btn-db:before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: #FFFFFF;
          -webkit-transition: width .3s;
          transition: width .3s;
        }
.node-hub .contact-us ._btn-db:hover {
          border: 1px solid #FFFFFF !important;
          text-decoration: none;

        }
.node-hub .contact-us ._btn-db:hover:before {
            width: 100%;
          }
.node-hub .contact-us ._btn-db:hover span {
            color: #007DB3;
          }
.discover-more {
  background-color: #DDDDDD;

}
.discover-more__inner {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px 0;

  }
.discover-more__inner .col-sm-6 {
      width: 100%;
    }
@media (min-width: 768px) {
.discover-more__inner .col-sm-6 {
        width: 50%
    }
  }
@media (min-width: 768px) {
.discover-more__inner {
      padding-bottom: 20px

  }
  }
.image-box {
  padding-bottom: 10px;

}
.image-box * {
    -webkit-transition: all .5s;
    transition: all .5s;
    line-height: 1.25em;
  }
.image-box__btn {
    position: relative;
    display: block;
    width: 100%;
    min-height: 120px;
    color: white;
    text-decoration: none !important;
    overflow: hidden;

  }
@media (min-width: 768px) {
.image-box__btn {
      min-height: 140px

  }
  }
@media (min-width: 890px) {
.image-box__btn {
      min-height: 175px

  }
  }
@media (min-width: 1170px) {
.image-box__btn {
      min-height: 200px

  }
  }
.image-box__btn:before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(25, 20, 43, .1);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(25, 20, 43, .1)), color-stop(40%, rgba(25, 20, 43, .1)), to(rgba(25, 20, 43, .75)));
      background: linear-gradient(to bottom, rgba(25, 20, 43, .1) 0, rgba(25, 20, 43, .1) 40%, rgba(25, 20, 43, .75) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0019142b', endColorstr='#bf19142b', GradientType=0);
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
.image-box__btn:hover {
      color: white;

    }
.image-box__btn:hover:before {
        background-color: rgba(36, 15, 110, .6);
      }
.image-box__btn:hover .image-box__more {
        opacity: 1;
        height: 28px;
        padding-top: 8px;
      }
.image-box--bg1 {
    background: url('//assetlibs.kaplaninternational.com/_assets/about-benefits/images/hero-course.jpg') top center no-repeat;
    background-size: cover;
  }
.image-box--bg2 {
    background: url('//assetlibs.kaplaninternational.com/_assets/about-benefits/images/hero-destination-us.jpg') top center no-repeat;
    background-size: cover;
  }
.image-box__btn-inner {
    position: absolute;
    display: block;
    bottom: 0;
    padding: 1em;

  }
@media (min-width: 890px) {
.image-box__btn-inner {
      padding: 1.4em

  }
  }
.image-box__title {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;

  }
@media (min-width: 768px) {
.image-box__title {
      font-size: 20px

  }
  }
@media (min-width: 890px) {
.image-box__title {
      font-size: 22px

  }
  }
@media (min-width: 1170px) {
.image-box__title {
      font-size: 24px

  }
  }
.image-box__desc {
    display: block;
    font-size: 13px;

  }
@media (min-width: 768px) {
.image-box__desc {
      font-size: 14px

  }
  }
.image-box__more {
    display: block;
    height: 1px;
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    height: 1px;
    color: #00E4FF;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }